<div class="wrapper-login">
  <div class="container">
    <div class="container" id= "container-login">

      <div class= "wrapper-header" id>
        <h2 class= "header-wrapper">
          Forgot your password?
        </h2>
      </div>

      <div class="container user-cred">
        <div class="container">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
        </div>
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email",  class: "form-control", placeholder: "Enter your e-mail address" %>
          </div>

            <div class="actions">
              <%= f.submit "Send me reset password instructions", class: 'btn btn-outline-primary' %>
            </div>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
