<div class="wrapper-login">
  <div class="container">
    <div class="container" id= "container-login">

      <div class= "wrapper-header" id>
        <h2 class= "header-wrapper">
          Log in
        </h2>
      </div>

      <div class="container user-cred">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.label :email, hidden:true %><br />
            <%= f.email_field :email, class: 'form-control', autofocus: true, placeholder: "Enter your e-mail", autocomplete: "email" %>
          </div>

          <div class="form-group">
            <%= f.label :password, hidden:true %><br />
            <%= f.password_field :password, class: 'form-control', placeholder:"Enter your password", autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="form-check my-3 link_to">
                <%= f.check_box :remember_me, class: "form-check-input" %>
                <%= f.label :remember_me, "Remember me" ,class:"form-check-label" %>
            </div>

          <% end %>


            <%= f.submit "Log in", class: 'btn btn-outline-primary btn-block' %>

        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
