<div class="col-xs-12 col-md-3 col-box">
  <div class="product-box shadow p-3 mb-5 bg-white rounded">
    <img><%= image_tag(product.image_url, class: "img-fluid") %></img>
    <a href="#"><h1 class="product-name"><%= link_to product.name, product %></h1></a>
    <p><%= product.description %></p>
    <p><%= product.scents %></p>
    <strong><%= product.price %></strong>
  </div><!--product box-->
</div><!-- /col -->
