<br>
<br>
<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="container">
    <div>
      <strong>Name:</strong>
      <%= @product.name %>
    </div>

    <div>
      <strong>Description:</strong>
      <%= @product.description %>
    </div>

    <div>
      <strong>Image url:</strong>
      <%= @product.image_url %>
    </div>

    <div>
      <strong>Scents:</strong>
      <%= @product.scents %>
    </div>

    <div>
      <strong>Price:</strong>
      <%= @product.price %>
    </div>
  </div>
  <div class="comments">
    <%= @product.highest_rating_comment %>
  </div>

  <div class="link_to">
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %>
  </div>

</div>
