<!DOCTYPE html>
<html>
  <head>
    <title>SampleApp</title>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #c3b4d2">
    <a class="navbar-brand" href="/">Essential Oils by Free</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">

      <ul class="navbar-nav">
        <li>
          <a class="nav-link" <%= link_to "Home", root_path%> <span class="sr-only">(current)</span></a>
        </li>
        <li>
          <a class="nav-link" <%= link_to "About", simple_pages_about_path%> </a>
        </li>
        <li>
          <a class="nav-link" <%= link_to "Products", products_path%> </a>
        </li>
        <li>
          <a class="nav-link" <%= link_to "Order", orders_path%> </a>
        </li>
        <li>
          <a class="nav-link" <%= link_to "Contact", simple_pages_contact_path%> </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown link
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <div class="form-inline"
          <%= form_with(url: products_path, method: 'get', local: true) do |form| %>
            <%# <%= form.label :q, 'Search' %>
            <%= form.text_field :q, id: 'q', value: params[:q], class: 'form-control-sm mr-sm-2' %>
            <%= form.submit 'Search', class: 'btn btn-outline-success btn-sm ' %>
          <% end %>
        </div>
      </ul>
    </div>
  </nav>
</header>


    <%= yield %>

    <footer class="footer">
      <div class="container">
        <p class="foot-text">&copy; 2018 Free's Essential Oils</p>
      </div>
    </footer>


  </body>
</html>
